/*
__________________
Imports and Variables
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

:root {
	--black: #2b1a22;
	--white: #efdbc4;
	--tan: #bc946b;
	--red-orange: #f05741;
	--blue: #0089b8;
	--yellow: #ddaf4a;
	--boxBackground: rgba(255, 255, 255, .2);

	--hvy-shadow: 0 0 5px rgba(0, 0, 0, .8);
	--shadow: 0 0 5px rgba(0, 0, 0, .5);
	--lt-shadow: 0 0 4px rgba(0, 0, 0, .3);
	--highlight: 0 0 5px var(--boxBackground);
}

/*
__________________
Default styles
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

* {
	box-sizing: border-box;
	font-family: 'Antic', sans-serif;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 10px;
}

h1 {
	font-size: 10em;
}

h2 {
	font-size: 6em;
}

h3 {
	font-size: 4em;
}

h4 {
	font-size: 3em;
}

p, label {
	font-size: 2em;
}

ul {
	list-style-type: none;
}

/* 
main {}

section {}
*/

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	margin: -1px !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.grecaptcha-badge {
	opacity: 0;
	pointer-events: none;
	z-index: -1;
}

/*
__________________
Navigation
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/




/*
__________________
Section Name
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/






/*
__________________
Media queries
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

@media screen and (min-width: 500px) {

}

@media screen and (min-width: 768px) {

}
  
@media screen and (min-width: 1040px) {

}

@media screen and (min-width: 1440px) {

}